.netrwhist
*.swp
vimrc.local
vimrc.before
vimrc.after
spell/*
bundle/
plugged/
colors/
autoload/plug.vim*
view/
tmux/.tumx/resurrect/
tmux/.tmux/plugins/tmux-resurrect/
tmux/.tmux/plugins/tmux-continuum/
tmux/.tmux/plugins/tmux-sensible/
tmux/.tmux/plugins/tpm/
tmux/.tmux/resurrect/

.DS_Store

